
/* HEADER */
body {
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 70px;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  background-color: white;
  border-bottom: 1px solid black;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
  color: mediumAquamarine;
}

.logo span {
  padding-left: 20px;
}

nav {
  display: flex;
  padding-right: 50px;
}

nav span {
  padding-right: 40px;
}

a {
  color: black;
}

/* MAIN CONTENT LAYOUT*/

div {
  border: 1px solid black;
}

.main-container {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  padding-right: 40px;
  padding-left: 40px;
}

.column {
  display: flex;
  flex-direction: column;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

/* MAIN CONTENT HEADINGS */

.main-story-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png');
}

.main-sub-heading {
  display: flex;
  height: 300px;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png');
}

.main-sub-heading-two {
  display: flex;
  height: 300px;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png')
}

.main-sub-story-heading-two {
  display: flex;
  height: 300px;
  background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png');
}

/* MAIN CONTENT */

p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.main-heading-text {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}
